*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --a-azul: #06CDFF;
    --azul: #4700D8;
    --morado: #8200FF;
    --rosa: #F900BF;
    --b-azul: #0c1633;
    --c-azul: #000d30;
}

.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: black;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img{
    fill-opacity: 0;
    animation: shiny 1s ease-in-out infinite  ;
    height: 140px;
    width: 240px;
}

.hidden{
    display: none;
}

@keyframes shiny {
    0%{
        opacity: 0;
        filter: drop-shadow( 0 0 40px #ffffff33);
        transform: scale(.8);
    }
    100%{
        transform: scale(1.2);
        opacity: 1;
        filter: drop-shadow( 0 0 10px #ffffff33);
    }    
}

@font-face {
    font-family: saturno-text;
    src: url('BraciolaMs-5-t.ttf');
}
@font-face {
    font-family: distanGalaxy;
    src: url('SfDistantGalaxy-title.ttf');
}
@font-face {
    font-family: date;
    src: url('Avcosmos-4-title.otf');
}

@font-face {
    font-family: tracklist;
    src: url('AlienRavager-texto-corto.ttf');
}

@font-face {
    font-family: timer;
    src: url('Segment7-timer.otf');
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--a-azul);
}

html, body{
    scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #0c1633;
    perspective: 400px;
}

.saturno__nav{
    position: sticky;
    width: 100vw;
    height: 0vh;
    top: 0;
    left: 0;
    z-index: 100;
}
.saturno__nav-ul{
    position: relative;
    width: 100%;
    height: 8vh;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.saturno__nav-ul li{
    line-height: 8vh;
}

.saturno__nav-i{
    color: var(--a-azul);
    display: block;
    text-decoration: none;
    font-family: saturno-text;
    letter-spacing: 3px;
    font-size: 1.5rem;
    padding: 0 4vw;
    text-shadow: 2px 2px 5px var(--a-azul);
}
.saturno__nav-i:hover{
    color: var(--rosa);
    animation: mutar 1s step-end infinite;
}
.saturno__nav-ul li:nth-child(2){
    text-transform: uppercase;
}

/* Header */
.lastPost{
    position: absolute;
    top: 8vh;
    left: 12%;
    height: 85vh;
    width: 45vh;
    z-index: 85;
}
@media (max-width: 800px  ) {
    .lastPost{
        display: none;
    }
}

.official{
    position: absolute;
    bottom: -96vh;
    right: 20px;
    z-index: 105;
}

.official button{
    background-color: var(--azul);
    color: var(--a-azul);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 40px;
    padding: 20px;
    border: none;
    cursor: pointer;
}

.official button:hover{
    background-color: var(--a-azul);
    color: var(--azul);
}

.lastPost__h2{
    font-family: distanGalaxy;
    font-size: 2rem;
    color: var(--rosa);
}

.lastPost__vid{
    position: relative;
    width: 100%;
    height: 95%;
    overflow-y: hidden;
    border: 3px solid var(--a-azul);
    border-radius: 5px;
}
.tiktok-embed{
    margin: 0 !important;
}

header{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--c-azul) ;
    background-image:
    linear-gradient(var(--azul) 1px, var(--morado) 1px, transparent 1px),
    linear-gradient(90deg, var(--azul) 1px,var(--morado)1px,  transparent 1px);
    background-size: 30px 30px;
    background-attachment: fixed;
    overflow: hidden;
}


.header__stick-1 ,.header__stick-2{
    position: absolute;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    bottom: 2rem;
    right: 3rem;
    font-family: distanGalaxy;
    font-size: 6rem;
    transform-origin: right;
    color: #06CDFF;
    transform: scaleY(-1) scaleX(-1) rotate(90deg);
    /* text-orientation: sideways-right; */
    z-index: 90;
}
.header__stick-1{
    left: -3rem;
}


/* Header IMAGES */
.header__images{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.header__saturno{
    position: absolute;
    width: 100rem;
    top: 0;
    left: -50rem;
    transform: scaleX(-1) ;
    filter: brightness(2) contrast(.2);
    z-index: 0;
}

.header__rauw{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.header__rauw-prof{
    margin-top: 10vh;
    height: 100vh;
    filter: drop-shadow(-10px -5px 0px var(--a-azul)) drop-shadow(10px -5px 0 var(--azul)) ;
    animation: float 3s ease-in-out infinite;
    z-index: 50;
}

.header__rauw-guard{
    position: absolute;
    box-sizing: content-box;
    bottom: 0;
    left: -50%;
    width: 25rem;
    filter: drop-shadow(-10px -5px 0px var(--azul)) drop-shadow(10px -5px 0 var(--azul)) ;
    animation: float 3s 1.5s ease-in-out infinite;
}

@media (orientation: portrait) {
    .header__rauw{
        transform: translateX(35%);
    }
    .header__rauw-guard{
        left: -30%;
        width: 80%;
    }
}

@keyframes float {
    0%,100%{
        transform: translate(-5px, 5px);
    }
    50%{
        transform: translate(5px,15px)
    }
}

@keyframes mutar {
    0%,40%,70%{
        transform: translate(-5px,5px);
    }
    10%,80%{
        transform: translate(5px,-5px);
    }
    20%,50%,100%{
        transform: translate(-5px,0px);
    }
    30%,60%,90%{
        transform: translate(5px,5px);
    }

}

/* DATE RELASE SATURNO */

.dateRelase{
    position: relative;
    width: 100vw;
    height: 30vh;
    background-color: var(--c-azul);
    background: radial-gradient(circle at bottom left,transparent 25%,var(--azul) 25.5%, var(--morado) 36%, transparent 37%, transparent 100%),radial-gradient(circle at top right,transparent 34%,var(--morado) 34.5%, var(--azul) 45.5%, transparent 46%, transparent 100%);
    background-size: 5em 5em;
    box-shadow: inset 0 3px 10px 2px var(--c-azul), inset 0 -5px 10px 2px var(--c-azul) ;
    z-index: 80;
    border-top: 3px solid var(--azul);
    border-bottom: 3px solid var(--azul);
    outline: 3px solid var(--morado);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

}

.dateRelase-img{
    position: relative;
    height: 20vh;
    filter: brightness(1.3) contrast(1.4) drop-shadow( .5rem .5rem 0 var(--rosa)) drop-shadow( 1rem .5rem 0 var(--morado)) ;
    transform: scale(2);
}

.dateRelase-date{
    font-family: date;
    font-size: 7rem;
    color: var(--a-azul);
    text-shadow: 0px 0px 10px var(--a-azul);
    border-radius: 0 3rem 0 3rem;
    background-color: var(--azul);
    padding: 10px 20px;
    transform-style: preserve-3d;
    perspective: 600px;
}

.dateRelase-date div{
    transform: translateZ(50px);
}

.dateRelase-ufo{
    height: 20vh;
    width: 30vh;
    background-image: url('../img/rauw_88.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2vh;
}

@media (orientation: portrait){
    .dateRelase{
        height: auto;
        flex-direction: column;
    }
    .dateRelase-date{
        margin: 2% 0;
    }
    .dateRelase-img{
       display: none;
    }
    .dateRelase-ufo{
        width: 100%;
        background-repeat: repeat-x;
    }
}

/* TRACKLIST */

.tracklist{
    position: relative;
    height: auto;
    width: 100%;
    background-color: var(--c-azul) ;
    background-image:
    linear-gradient(var(--azul) 1px, var(--morado) 1px, transparent 1px),
    linear-gradient(90deg, var(--azul) 1px,var(--morado)1px,  transparent 1px);
    background-size: 30px 30px;
    background-attachment: fixed;
    padding: 2% 0 0 0;
}

.tracklist-container{
    width: 100vw ;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tracklist-title{
    width: 100%;
    margin: 3% 0;
    text-align: center;
    font-family: tracklist;
    letter-spacing: 2px;
    font-size: 2rem;
    color: var(--rosa);
}

.tracklsit-planet{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.planet-x{
    position: relative;
    height: 3rem;
    border: 3px solid var(--rosa);
    margin: 10px 0; 
    counter-increment: track;
    color: var(--rosa);
    text-transform: uppercase;
    text-align: center;
    line-height: 3rem;
    font-family: date ;
    font-weight: 800;
    font-size: 2rem;
    overflow: hidden;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.planet-x::before{
    position: absolute;
    content: '# ' counter(track) ' ';
    color: var(--rosa);
    padding-left: 10px;
    left: 0;
}
.planet-x::after{
    position: absolute;
    content: '';
    right: 1rem;
    top: .3rem;
    width: 1rem;
    height: 1rem;
    border-left: 5px solid var(--rosa);
    border-top: 5px solid var(--rosa);
    transform: rotate(-135deg);
    transition: .2s ease;
}

.planet-x h3{
    display: inline;
}

.planet-x__vid{
    display: block;
    margin: 1vh auto;
    height: 20rem;
    width: 32rem;
}
.active::after{
    top: 1rem;
    transform: rotate(45deg);
}

.active{
    height: 25rem ;
}


/* COUNT DOWN*/

.countDown{
    width: 100%;
    height: calc(10vw + 5rem);
    display: flex;
    justify-content: space-evenly;
    /* background: radial-gradient(var(--b-azul) 15%, transparent 16%) 0 0; */
    background-image: url('../img/rauw_0122.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-top: 3px solid var(--azul);
    border-bottom: 3px solid var(--azul);
    outline: 3px solid var(--morado);
    box-shadow: inset 0 5px 10px 2px var(--c-azul), inset 0 -5px 10px 2px var(--c-azul) ;
}

.countDown__boxParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    margin: 10px 0;
    transform-style: preserve-3d;
    perspective: 600px;
}

.countDown__box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.countDown__boxSon{
    width: 20%;
    height: calc(8vw + 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateZ(100px);
    z-index: 60;
}

.countDown__boxSon-timer{
    text-align: center;
    font-family: timer;
    font-size: calc(6vw + 1rem);
    color: var(--a-azul);
    text-shadow: 0 0 5px var(--a-azul);
}
.countDown__boxSon-text{
    text-align: center;
    font-family: saturno-text ;
    font-size: calc(2vw + .5rem);
    color: var(--a-azul);
}

/* ANIMATIONS */

.rawu_ufo_random{
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url('../img/saturno_88.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 95;
    top: 0;
    left: 0;
}

@keyframes anime-ufo {
    0%,100%{
        top: 0;
        left: 0;
    }
    25%{
        top: 90%;
        left: 0%;
    }
    50%{
        top: 90%;
        left: 90%;
    }
    75%{
        top: 0%;
        left: 90%;
    }
}

